/* remise a zero moderne */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
input,
button,
select,
textarea {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f5f6f8;
  color: #111;
}

/* title */
h1,
h2 {
  margin: 0;
  font-weight: 600;
}

/* input */
input {
  width: 100%;
  height: 40px;
  padding: 0 14px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  background: white;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #6366f1;
}

/* btn */
button {
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s ease;
}

/* bouton principal */
.btn-primary {
  background: #acaab6;
  color: white;
}

.btn-primary:hover {
  background: #918f9c;
}

/* bouton danger */
.btn-danger {
  background: transparent;
  color: #999;
}

.btn-danger:hover {
  color: #e11d48;
}
